.footer{
    width: 100vw;
    height: 100px;
    background-color: rgb(220, 219, 219);
}

.ul{
    padding: 30px 0px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    /* gap: -50px; */
}
.liLogo{
    width: 250px;
    font-weight: 800;
}

.liDerechos{
    font-size: .9em;
    font-weight: 500;
    width: 250px;
}

.liRedes{
    width: 110px;
    display: flex;
    gap: 20px;
}

.liIcon{
    font-size: 1.5em;
    cursor:pointer;
}