.nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: rgba(250, 250, 250, 0.903);
    /* background-color: #2e186a; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.buttonCotizar{
    height:65%;
    background-color: #ac7528;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 50px;
    transition: .3s;
}

.buttonCotizar:hover{
    height:65%;
    background-color: #401c18;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 50px;
}

.logo{
    height: 35px;
    margin-left: 40px;
}

.logoContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nameLogo{
    /* width: 50px; */
    font-size: 1em;
}
